/* html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
html{height:100%}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
table{border-collapse:collapse;border-spacing:0} */

body {
  height: 100%;
}

.body-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.container {
  height: 15vw;
  width: 15vw;
  border: cadetblue solid;
}

.block {
  height: 5vw;
  width: 5vw;
  background-color: cadetblue;
}

/* способ 1 */
.container-1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* способ 2 */
.container-2 {
  display: flex;
}

.block-2 {
  margin: auto;
}

/* способ 3 */
.container-3 {
  position: relative;
}

.block-3 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

/* способ 4 */
.container-4 {
  display: grid;
}

.block-4 {
  justify-self: center;
  align-self: center;
}

/* способ 5 */
.container-5 {
  position: relative;
}

.block-5 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}